.formItem {
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @media (max-width: em(390)) {
    flex-direction: column;
    gap: 10px;
  }
}

.imageWrapper {
  margin-bottom: 24px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.controlButtons {
  margin-bottom: 24px;
}

.flex {
  display: flex;
  justify-content: space-between;

  @media (max-width: em(390)) {
    flex-direction: column;
    gap: 10px;
  }
}
