.formItem {
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @media (max-width: em(420)) {
    flex-direction: column;
    gap: 10px;
  }
}
