.root {
  max-width: 420px;
  padding: 35px 35px 45px;
}

.title {
  margin-bottom: 25px;
  text-align: center;
}

.text {
  margin-bottom: 41px;
  color: var(--color-light-900);
  text-align: center;
  opacity: 0.5;
}
