.back {
  align-self: flex-start;
  margin-bottom: 24px;
}

.root {
  max-width: 420px;
  padding: 33px 36px 36px;
}

.title {
  margin-bottom: 45px;
}

.exercise {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 41px;
}

.empty {
  color: var(--color-dark-100);
}
