.tableContainer {
  min-height: 100px;

  table {
    min-width: 658px;
  }

  @media (max-width: em(658)) {
    padding-bottom: 30px;
  }
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
