.search {
  margin-bottom: 24px;
}

.filter {
  margin-bottom: 24px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  @media (max-width: em(620)) {
    flex-direction: column;
  }
}
