.table {
  border-collapse: collapse;
  width: 100%;
}

.thead {
  text-align: left;
  background-color: var(--color-dark-500);
  border-right: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
}

.tbody {
  position: relative;
  border: 1px solid var(--color-dark-500);

  tr {
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-dark-700);
      }
    }
  }
}

.tr {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-dark-500);
  }
}

.th {
  user-select: none;

  padding: 10px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.td {
  padding: 10px 24px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.loading {
  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: block;

    width: 50px;
    height: 50px;

    background: url('@/components/ui/icon/assets/common/spinner.svg') center / 50px no-repeat;

    animation: spin 1s linear infinite;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba($color: #000, $alpha: 50%);
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
