.imageWrapper {
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 4px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.controlButtons {
  margin-bottom: 24px;
}

.flex {
  display: flex;
  justify-content: space-between;

  @media (max-width: em(420)) {
    flex-direction: column;
    gap: 10px;
  }
}

.clickable {
  cursor: pointer;
}
