.headerProfile {
  display: flex;
  gap: 15px;
  align-items: center;
}

.dropdown {
  z-index: 11;
  padding: 12px;
}

.username {
  user-select: none;
  text-decoration: underline dashed;
  text-underline-offset: 5px;
}
