.sortable {
  cursor: pointer;
  transition: all 0.3s ease 0s;

  svg {
    transition: all 0.3s ease 0s;

    &.asc {
      transform: rotate(-180deg);
    }
  }

  div {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-dark-300);
    }
  }
}
