.pageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  @media (max-width: em(620)) {
    flex-direction: column;
  }
}
