.pageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filterActions {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: 35px;
}

.tableContainer {
  table {
    min-width: 768px;
  }

  @media (max-width: $tablet) {
    overflow-x: auto;
    padding-bottom: 30px;
  }
}
