.back {
  margin-bottom: 35px;
}

.pageHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 24px;

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 15px;
  }
}

.pageHeaderContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.deckInfo {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
