.text {
  margin-bottom: 65px;
  color: var(--color-light-900) !important;
  opacity: 0.5;
}

.root {
  max-width: 420px;
  padding: 35px 35px 25px;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

.form {
  width: 100%;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    margin-bottom: 5px;
    opacity: 1;
  }
}
